@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Common Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-family: 'Jura', sans-serif;
}

html{
    font-size: 62.5%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.centerText{
    position: relative;
    margin-top: 100px;
}
/* End Of Common Styles */

/* Mouse Circle */
.mouseCircle,
.mouseDot{
    border-radius: 50%;
    position: fixed;
    z-index: 300;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
}
.mouseCircle{
    width: 6rem;
    height: 6rem;
    border: 0.1rem solid #c7a622;
    animation: mouseCircleAnim 10s 
    infinite linear;

}
@keyframes mouseCircleAnim{
    0%{
        width: 6rem;
        height: 6rem;
    }
    25%{
        width: 8rem;
        height: 8rem;
    }
    35%{
        width: 4rem;
        height: 4rem;
    }
    70%{
        width: 8rem;
        height: 8rem;
    }
    100%{
        width: 6rem;
        height: 6rem;
    }
}

.mouseDot{
    width: 0.5rem;
    height: 0.5rem;
    background-color: #9b0e0e;
    animation: mouseDotAnim 10s
    infinite linear;
}
@keyframes mouseDotAnim{
    0%{
        width: 0.5rem;
        height: 0.5rem;
    }
    55%{
        width: 1.5rem;
        height: 1.5rem;
    }
    100%{
        width: 0.5rem;
        height: 0.5rem;
    }
}
/* End Of Mouse Circle */

.page-Background{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: no-repeat center linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(images/background.png);
    background-size: cover;
}

.sectionOne{
    position: relative;
    width: 100%;
    height: 100vh;
}

.logo{
    position: absolute;
    top: 2rem;
    left: 5rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: #000000 ;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.circle{
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    background-color: #9b0e0e;
    align-self: center;
    justify-self: center;
    background-size: cover;
    background-clip: content-box;
    opacity: .7;
    position: relative;
    top: 0;
    left: 0;
    transition: left 4s, top 4s;
}

.circleOne{
    /* background: url() center no-repeat */
    border: 0.5rem dashed #112d7c;
}
.circleTwo{
    border: 0.5rem dashed #112d7c;
}
.circleThree{
    border: 1rem double #112d7c;
}
.circleFour{
    border: 1rem double #112d7c;
}

.mainCircle{
    width: 55rem;
    height: 55rem;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.mainCircle:hover {
    width: 75rem;
    height: 75rem;
    transition: width .2s, height .2s;
}

.mainCircle img{
    position: relative;
    transition: left 4s, top 4s;
    top: 0;
    left: 0;
}

.featuredText{
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    width: 0;
    word-wrap: break-word;
    line-height: 3;
    position: sticky;
    top: 0;
}
.featuredTextOne{
    margin: 0 auto 0 10rem;
}
.featuredTextTwo{
    margin: 0 10rem 0 auto;
}

.projectBtn
{
    position: absolute;
    bottom: 3rem;
    width: 13rem;
    height: 13rem;
    background-color: #9b0e0e;
    border-radius: 50%;
    border: 0.2rem dotted #fff;
    padding: 0.1rem;
}

.projectBtnContent
{
    width: 100%;
    height: 100%;
    border: 0.2rem dotted #e7be08;
    border-radius: 50%;
    transform: rotate(45deg);
}

.projectBtnLine
{
    position: absolute;
    top: 4rem;
    width: 3rem;
    height: 0.5rem;
    border: 0.1rem solid white;
}

.projectBtnLine:nth-child(1){
    transform: rotateZ(-45deg) translateX(-.65rem);
    transform-origin: left center;
    border-right: none;
}

.projectBtnLine:nth-child(2){
    transform: rotateZ(45deg)translateX(.65rem);
    transform-origin: right center;
    border-left: none;
}

.projectBtnLine:nth-child(3){
    transform: rotateZ(90deg)translateX(.5rem);
    border-left: none;
}

.projectBtn span{
    position: absolute;
    bottom: 3rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase ;
}